:root {
    --body-font-color: #566b78;
    --title-color: #333;
    --code-background-color: #f5f7f9;
    --code-border-bottom-color: #d8dee9;
    --code-font-color: #a7adba;
    --pre-border-left-color: #69c;
    --link-color: #e81c4f;

    --gradient-color-1: ivory;
    --gradient-color-2: #873e23;
    --gradient-size: 50em;
}

body {
    background-color: var(--body-background-color);
    color: var(--body-font-color);
    font-family: DejaVu Sans Mono, monospace;
    line-height: 1.5;
    max-width: 80ch;
    padding: 4em 1em 4em 1em;
    margin:  0 auto 0 auto;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h1, h2, strong {
    color: var(--title-color);
}

code, pre {
    background: var(--code-background-color);
    border-bottom: 1px solid var(--code-border-bottom-color);
    color: var(--code-font-color);
}

code {
    padding: 2px px;
    vertical-align: text-bottom;
}

pre {
    padding: 1em;
    border-left: 2px solid var(--pre-border-left-color);
}

a {
    color: var(--link-color);
}
