:root {
    --body-font-color: #566b78;
    --title-color: #333;
    --code-background-color: #f5f7f9;
    --code-border-bottom-color: #d8dee9;
    --code-font-color: #a7adba;
    --pre-border-left-color: #69c;
    --link-color: rgb(2, 155, 247);
    --nav-link-color: #e81c4f;
}

body {
    color: var(--body-font-color);
    background-color: rgba(255, 255, 255, 1);
    font-family: DejaVu Sans Mono, monospace;
    line-height: 1.5;
    max-width: 80ch;
    padding: 1em 1em 4em 1em;
    margin:  3em auto 0 auto;
    border-radius: 3px;
    min-height: 80%;
}

@media only screen and (max-width: 100ch) {
    .content {
	margin: 0;
	width: 100%;
    }

    .layer-2 {
	padding: 0 0 0 0;
    }

    .header {
	font-size: 200%;
    }
    
    .header > nav {
	grid-column-gap: 1.5em;
    }
}

.header > h1 {
    margin: 0.5em auto 0em auto;
    width: max-content;
}

.header > nav {
    margin: auto;
    display: grid;
    width: max-content;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1em;
}

.header > nav > .current-page {
    text-decoration: underline;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
    border-bottom: 2px dashed;
}

h1, h2, strong {
    color: var(--title-color);
}

p {
    text-align: justify;
}

code {
    padding: 0.2em;
    background-color: var(--code-background-color);
    border-radius: 3px;
    font-size: 1.1em;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover, a:active, a:focus {
    outline: 0;
}

nav {
    text-align: center;
}

nav > a {
    color: var(--nav-link-color);
    font-size: 1.3em;
}

pre::-webkit-scrollbar {
    display: none;
}

pre {
    margin-top: 0;
    padding: 1em;
    border: 1px solid;
    border-left: 2px solid var(--pre-border-left-color);
    border-radius: 0px 3px 3px 3px;
    background-color: rgb(250, 247, 237);
    color: rgb(101, 85, 111);
    font-size: 1.1em;
    overflow-x: scroll;

    scrollbar-width: none;
    -ms-overflow-style: none;

    --color-namespace: rgb(177, 41, 79);
    --color-highlight: rgb(51, 118, 187);
    --color-string:    rgb(46, 141, 109);
    --color-keyword:   rgb(102, 80, 168);
}

.pre-title {
    position: relative;
    background: whitesmoke;
    color: rgb(101, 85, 111);
    padding: 0.3em;
    border-radius: 3px 3px 0 0;
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 2px solid var(--pre-border-left-color);
}

pre span.keyword {
    color: var(--color-keyword);
}

pre span.symbol[reserved="1"] {
    color: var(--color-highlight);
    font-weight: bold;
}

pre span.symbol[reserved="2"] {
    color: var(--color-highlight);
}

pre span.string {
    color: var(--color-string);
}

pre span.namespace {
    color: var(--color-namespace);
    font-weight: bold;
}
